body {
  background-color: #151515;
}

p {
  margin: 8px;
  color: #fff;
  font-size: 16px;
}

canvas {
  background: #333;
}

button {
  cursor: pointer;
  font-size: 32px;
}

.header-container {
  display: flex;
  justify-content: center;
  margin: 32px;
}
.header-container button {
  background-color: #333;
  color:#fff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  text-shadow: 3px 3px 2px #000;
  padding: 10px;
  margin-right: 10px;
}

.canvas-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 580px;
  width: 50%;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .canvas-container {
    scale: 60%;
  }
}

@media only screen and (max-width: 320px) {
  .canvas-container {
    scale: 40%
  }
}

.gameButton button {
  background-color: #bb3333;
  color: #000;
  padding: 12px;
  padding-left: 50px;
  padding-right: 50px;
  transition: 0.2s;
}

.gameButton button:hover {
  background-color: #ff3333;
  color: #000;
}

.gameButton button:active {
  background-color: #222;
  color: #ff3333;
}